# ==================================== NOTE ====================================
# I have a global .gitignore file as specified in my .gitconfig,
# so many commonly ignored files aren't shown here but are still ignored.
# ==============================================================================

# My local mod development folder, not very helpful/relevant for you.
mods/

# Random folder I used to put people's client logs, mod scripts and such.
discord-help/

# This is a symlink to my V1 mods folder. Commiting it won't help anybody.
v1-mods
